<h1>New Game</h1>
<p>Find me in app/views/games/new.html.erb
<%= @new %>
</p>
What is the longest word you can find?
<form action="/games" method="get">
  <input type="text" name="new">
  <input type="submit" value="Play">
</form>
